# Compiled test binaries (generated during integration tests)
hello_nolibc
hello_nolibc.hooked
thread_nolibc
thread_nolibc.hooked
fork_nolibc
fork_nolibc.hooked
hello_dynamic
hello_dynamic.tar
hello_dynamic_rootfs/
fork_dynamic
fork_dynamic.tar
fork_dynamic_rootfs/
